.background-gradient{
    background: linear-gradient(to bottom, #8C566F,#592533);  /* Aplica um fundo gradiente linear de cima para baixo */
    height: 92vh;                                                /* Define a altura como 100% da altura da tela visível (viewport height) */
    color: white;                                               /* Define a cor do texto como branco */
    font-family: 'Courier New', Courier, monospace;               /* Define a família da fonte  */
    text-align: center;                                           /* Centraliza o texto horizontalmente */
}

/* Estilo para elementos com a classe 'calculadora' */
.calculadora{
    position: absolute;                                           /* Define a posição como absoluta em relação ao viewport */
    background-color: rgb(0, 0, 0);                             /* Define a cor de fundo com uma tonalidade de azul escuro */
    top: 55%;                                                     /* Posiciona o elemento no centro da tela usando transformações */
    left: 50%;                                                    /* Posiciona o elemento no centro da tela usando transformações */
    transform: translate(-50%, -50%);                             /* Posiciona o elemento no centro da tela usando transformações */
    border-radius: 15px;                                         /* Adiciona cantos arredondados à caixa */
    padding: 15px;                                               /* Adiciona um preenchimento interno de 15 pixels */
}

.outer-container{
    background: linear-gradient(to bottom,  #8C566F, #592533);  /* Aplica um fundo gradiente linear de baixo para cima */
    padding: 20px;                                           /* Preenchimento interno */
    border-radius: 10px;                                     /* Valor dos cantos arredondados à caixa */
    overflow: hidden;                                       /*  Esconde qualquer conteúdo que ultrapasse os limites do contêiner*/
}


.social-icons {
    display: flex;                                          /* Ativa o modelo de layout flexível para o contêiner de ícones sociais.*/
    justify-content: space-around;                          /* Distribui os ícones sociais no contêiner com espaçamento uniforme */
    margin-top: 10px;                                      /* Adiciona uma margem superior ao contêiner de ícones sociais */
}

.social-icons a {
    color: white;                                        /* Define a cor do texto para os ícones sociais*/
    font-size: 20px;                                       /* Define o tamanho da fonte para os ícones sociais*/
    margin: 0 10px;                                        /* Adiciona margem à direita e à esquerda para os ícones sociais*/    
}

.social-icons a :hover {
    color: #F2CEF2;                                         /* Define a cor do texto quando o usuário passa o mouse sobre os ícones sociais*/
}

/* Estilo para elementos com a classe 'button' */
.button {
    width: 50px;                                                    /* Largura do botão */
    height: 50px;                                                   /* Altura do botão */
    font-size: 25px;                                                /* Tamanho da fonte */
    background-color: rgb(44, 45, 45);                           /* Define a cor de fundo */
    border: none;                                                  /* Sem borda */
    color: white;                                                /* Cor do texto */
    margin: 3px;                                                   /* Margem externa */
}

/* Estilo quando o mouse passa sobre o botão */
.button:hover {
    background-color: black;                                   /* Altera a cor de fundo ao passar o mouse */
}

/* Estilo para o elemento com o id 'resultado' */
#resultado {
    background-color: white;                               /* Cor de fundo */
    width: 220px;                                             /* Largura do elemento */
    height: 30px;                                             /* Altura do elemento */
    margin: 5px;                                              /* Margem externa */
    padding: 5px;                                             /* Preenchimento interno */
    text-align: right;                                        /* Alinhamento do texto à direita */
    color: black;                                          /* Cor do texto */
    font-size: 25px;                                          /* Tamanho da fonte */
}

/* Estilo para elementos 'h1' */
h1 {
    margin-bottom: 20px;                                      /* Margem inferior */
}

/* Estilo para elementos 'h2' */
h2 {
    margin-bottom: 10px;                                      /* Margem inferior */
}

/* Estilo para elementos com a classe 'link-color' */
.link-color {
    color: #F2CEF2;                                           /* Cor do texto */
}

.link-color:hover {
    color: #A3A65D;   
}

/* Estilo para o elemento 'footer' */
footer {
    background: linear-gradient(to bottom,#8C566F, #592533 );  /* Aplica um fundo gradiente linear de baixo para cima */
    width: 0 auto;                                            /* Largura automática com margens automáticas */
    font-size: 12px;                                          /* Tamanho da fonte */
    text-align: center;                                        /* Alinhamento do texto ao centro */
    color: white;                                            /* Cor do texto */
    margin: 0 auto;                                            /* Margens automáticas */
    padding: 1px;                                              /* Preenchimento interno */
}




/* Color Theme Swatches in Hex 
.Primavera-1-hex { color: #592533; }
.Primavera-2-hex { color: #8C566F; }
.Primavera-3-hex { color: #BF80A9; }
.Primavera-4-hex { color: ; }
.Primavera-5-hex { color: #2E4039; }





